:root {
  --primary-green: #36b37e;
  --primary-green-light: #c5e9da;
  --secondary-green-light: #ebf0ee;
  --primary-green-dark: #3a4a42;
  --primary-blue-dark: #172b4d;
  --primary-white-light: #fff;
  --project-btn: #36b37f;
}

body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

li {
  list-style: none;
}

h1,
h2,
h4,
span {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 52px;
}

h1 {
  color: var(--primary-blue-dark);
  font-weight: 600;
}

h3 {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
}

span {
  color: var(--primary-green);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 1rem;
  background-color: rgba(255, 255, 255, 0.9);
}

/** Flex header container */
.header-container {
  padding-bottom: 0;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/** Items header container */
.header-container a {
  text-decoration: none;
  color: var(--primary-green-dark);
  font-size: 1.25rem;
  text-align: center;
}

.menu-btn {
  cursor: pointer;
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  background-color: transparent;
}

/** Flex main container  */
.main-heading {
  margin: 0;
  padding-top: 0;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-image: url(icons/header-illsutration-mobile.svg);
}

/** Items main container */
.intro-container {
  margin-top: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.media-flex-container {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

p {
  padding: 0 2.5rem;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 28px;
  color: var(--primary-blue-dark);
  align-self: flex-start;
}

.action-btn {
  text-align: center;
  width: 20px;
  height: 20px;
  padding: 1.5rem;
  border-radius: 50%;
  border: 1px solid silver;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-btn:enabled {
  cursor: pointer;
  color: var(--primary-white-light);
}

.action-btn:hover {
  cursor: pointer;
  color: var(--primary-white-light);
  background-color: var(--primary-green);
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  border-radius: 4px;
}

.action:active {
  color: var(--primary-white-light);
  background-color: #008552;
}

/** My Recent Works section  */

.works-section {
  text-align: center;
  margin-top: 1rem;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.works-section > h2 {
  text-align: center;
  padding: 0 3rem 0 3rem;
  color: var(--primary-blue-dark);
  font-family: "Inter", sans-serif;
}

.works-grid-container {
  display: grid;
  grid-template: auto 1fr;
  align-items: center;
  justify-content: center;
}

.works-grid-elements {
  margin: 1rem;
  padding-top: 70%;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  background-color: var(--secondary-green-light);
}

.works-flex-container {
  margin-top: 0;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: var(--primary-white-light);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2rem;
  align-items: center;
}

.flex-items {
  text-align: center;
  font-size: 12px;
  color: var(--primary-green-dark);
  height: 222px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-self: center;
}

.item-tags {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.item-tags > li {
  text-align: center;
  font-weight: 600;
  font-size: 10px;
  line-height: 16px;
  padding: 8px 12px;
  border-radius: 4px;
  border: 2px solid transparent;
  background-color: var(--secondary-green-light);
}

.project-btn {
  margin-bottom: 1rem;
  padding: 10px 8px;
  border: 4px;
  font-size: 17px;
  border-radius: 4px;
  color: var(--primary-white-light);
  background-color: var(--project-btn);
  transition: all 1s;
}

.project-btn:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  border-radius: 4px;
  opacity: 5;
  background-color: darkcyan;
  transition: 0s;
  transform: translateY(4px);
}

.project-btn:enabled {
  color: var(--primary-white-light);
  background-color: var(--project-btn);
}

.project-btn:active {
  color: var(--primary-white-light);
  background-color: #008552;
}

/** About me section */

.about-section {
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

.about-flex-container1 {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  align-items: center;
}

.about-flex-container1 > h2 {
  color: var(--primary-blue-dark);
  text-align: end;
  flex: 1 2 700px;
  align-self: flex-end;
}

.about-flex-container1 > p {
  width: 351px;
  color: #42526e;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}

.about-flex-container2 {
  padding: 1rem 0;
  display: flex;
  gap: 3rem;
  align-items: center;
  align-content: center;
}

.resume-btn {
  padding: 10px;
  border: 4px;
  font-size: 17px;
  border-radius: 4px;
  text-align: center;
  align-self: center;
  color: var(--primary-white-light);
  background-color: var(--project-btn);
}

/** Here starts cards of About me section */

.about-grid-container {
  margin: 0;
  display: grid;
  grid-template: auto 1fr;
  align-items: center;
  justify-content: center;
}

.about-grid-elements {
  margin: 0.9rem 2rem;
  padding: 0 0;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  background-color: var(--secondary-green-light);
  display: flex;
  justify-content: center;
}

.about-flex-container {
  margin: 0;
  padding: 0;
  height: 352px;
  width: 327px;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: var(--secondary-green-light);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}

.flex-content {
  text-align: center;
  font-size: 12px;
  color: #344563;
  height: 352px;
  width: 327px;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 2.5rem;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.title-list {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.content-tags {
  width: 350px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  gap: 0.5rem;
}

.content-tags > li {
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  padding: 8px 12px;
  border-radius: 4px;
  border: 2px solid transparent;
  color: var(--primary-green);
  background-color: var(--primary-white-light);
}

.resume-btn:enabled {
  cursor: pointer;
  color: var(--primary-white-light);
}

.resume-btn:hover {
  cursor: pointer;
  color: var(--primary-white-light);
  background-color: var(--primary-green);
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  border-radius: 4px;
}

.resume-btn:active {
  color: var(--primary-white-light);
  background-color: #008552;
}

/** Contact form section */
.contact-flex {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primary-blue-dark);
  width: auto;
  height: auto;
}

.contact-flex h2 {
  padding: 46px 24px 0 24px;
}

form {
  text-align: center;
  margin-top: 58px;
  padding: 0;
  width: 327px;
  height: auto;
  display: flex;
}

.form-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.input-item {
  width: 327px;
  height: 48px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-item input {
  font-family: inherit;
  font-size: 15px;
  padding: 15px 16px;
  border: 2px solid #d0d9d4;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

input:focus {
  outline: none;
  border: 2px solid #60c095;
  font-weight: 400;
  font-size: 1rem;
}

textarea {
  width: 90%;
  height: 114px;
  padding: 1rem;
  font-size: 15px;
  font-family: inherit;
  border: 2px solid #d0d9d4;
  border-radius: 4px;
}

textarea:focus {
  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  border: 2px solid #60c095;
}

.form-field button {
  width: 129px;
  height: 48px;
  text-align: center;
  font-style: normal;
  line-height: 24px;
  font-size: 17px;
  padding: 12px;
  border: none;
  border-radius: 4px;
  color: var(--primary-white-light);
  background-color: var(--project-btn);
}

.form-btn:enabled {
  cursor: pointer;
  color: var(--primary-white-light);
}

.form-btn:hover {
  cursor: pointer;
  color: var(--primary-white-light);
  background-color: var(--primary-green);
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  border-radius: 4px;
}

.form-btn:active {
  color: var(--primary-white-light);
  background-color: #008552;
}

footer {
  display: flex;
  flex-direction: column;
}

.footermedia-flex {
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
}

.contact-email {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-email a {
  margin-bottom: 200px;
  font-size: 20px;
  font-weight: 400;
  color: #42526e;
}

.header-desktop,
.img-desktop,
.footer-img {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-container,
  .img-mobile,
  .img-item,
  .contact-email {
    display: none;
  }

  .main-heading {
    background-image: url(icons/Header-llustration-desktop.svg);
    min-width: 1200px;
    min-height: 1000px;
  }

  .header-container {
    min-width: 1100px;
  }

  .intro-container {
    margin-top: 3rem;
    max-width: 1000px;
    min-height: 606px;
    padding: 160px, 0, 160px, 0;
    gap: 24px;
    justify-content: center;
  }

  .intro-container p {
    margin: 0 4%;
    padding: 0 4.5rem;
  }

  .action-btn {
    margin-top: 7%;
    align-items: center;
  }

  .header-desktop {
    width: 400px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    color: var(--primary-blue-dark);
  }

  .works-section {
    min-width: 1200px;
  }

  .works-grid-container {
    min-width: 1200px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .works-grid-elements {
    margin: 1rem 0.75rem;
  }

  .flex-items {
    padding: 0 2rem;
  }

  .about-section {
    min-width: 1200px;
    text-align: center;
    display: grid;
  }

  .about-section p {
    text-align: center;
    padding: 0 18%;
  }

  .about-flex-container1 {
    height: 90px;
    margin-top: 5rem;
    justify-content: flex-end;
    gap: 24.7%;
  }

  .about-flex-container1 h2 {
    align-self: flex-start;
  }

  .about-flex-container1 .img-desktop {
    display: flex;
    align-self: center;
  }

  .about-flex-container2 {
    padding: 0;
    justify-content: flex-start;
    gap: 27%;
  }

  .about-flex-container1 .img-desktop,
  .about-flex-container2 .img-desktop {
    display: flex;
  }

  .about-grid-container {
    margin-top: 1.5rem;
    margin-left: 5.5%;
    align-self: flex-end;
    width: 1200px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .contact-flex {
    min-width: 1200px;
    flex-direction: row;
    margin-left: 0.5rem;
  }

  /** Till here I left */

  .about-grid-elements {
    margin: 1rem 0.75rem 1rem 0.75rem;
  }

  .contact-flex h2 {
    padding: 0 24px 0 46px;
    font-style: normal;
    max-width: 500px;
    height: 250px;
    flex-grow: 3;
  }

  .contact-flex form {
    flex-grow: 2;
  }

  form .form-field {
    display: flex;
    align-items: flex-start;
    min-width: 600px;
  }

  .form-field input,
  textarea {
    width: 650px;
  }

  footer {
    margin: 0;
    min-width: 1200px;
  }

  .footer-img {
    display: flex;
  }

  .footer-img1 {
    position: absolute;
    width: 436px;
    height: 491.09px;
    left: -80.96px;
    top: 3329px;
    transform: matrix(1, 0, 0, 1, 0, 0);
  }

  .footer-img2 {
    position: absolute;
    width: 155.27px;
    height: 117.18px;
    left: 374px;
    top: 3580.17px;
    transform: rotate(1.41deg);
  }

  .footer-img3 {
    position: absolute;
    right: 0;
    top: 3330.17px;
    transform: matrix(1, 0, 0, 1, 0, 0);
  }

  .footermedia-flex {
    display: flex;
    min-width: 1200px;
    padding: 1.5rem;
    margin-top: 450px;
    border-top: 2px solid #dfe1e6;
    justify-content: center;
  }

  .footermedia-flex .order-3 {
    order: 3;
  }
}
